.loginFormWrapper {
  background: #188fff8a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .loginForm {
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    padding: 16px;
    width: 400px;
    height: 250px;
    margin-top: -150px;
    border-radius: 2px;

    .signUp {
      font-weight: bold;
      cursor: pointer;
      justify-content: center;
    }
  }
}
